.profile__subheader {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 730px) {
  .profile__subheader {
    font-size: 14px;
    line-height: 17px;
    /* margin-top: 14px; */
    text-align: center;
  }
}