.profile__add-button-image {
  /* grid-area: add-button; */
  width: 100%;
  height: 100%;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  object-position: 50% 50%;
  object-fit: none;
  box-sizing: border-box;
  transition: 0.5s linear opacity;
}

@media (max-width: 730px) {
  .profile__add-button-image {
    width: 100%;
  }
}

