.profile__edit-image {
  object-fit: none;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

/* @media (min-width: 768px) {
  .profile__edit-image:hover {
    opacity: 0.6;
    cursor: pointer;
  }
} */

@media (max-width: 730px) {
  .profile__edit-image {
    width: 18px;
    height: 18px;
  }
}
