.elements {
  width: 100%;
  margin: 27px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px 18px;
}

@media (max-width: 730px) {
  .elements {
    margin-top: 36px;
  }
}