.profile__edit-button {
  padding: 0;
  background-color: #000000;
  border: none;
  box-sizing: border-box;
  width: 24px;
  margin-left: 15px;
  transition: 0.5s linear opacity;
}

@media (max-width: 730px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}