.profile__add-button {
  padding: 0;
  background-color: #000000;
  border: none;
  width: 100%;
  height: 50px;
  grid-area: add-button;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

@media (max-width: 730px) {
  .profile__add-button {
    margin-top: 36px;
  }
}