.header {
  width: 70%;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 1079px) {
  .header {
    width: 90%;
  }
}

@media (max-width: 730px) {
  .header {
    width: 100%;
    margin-top: 28px;
  }
}